body {
    font-family: 'Barlow Semi Condensed', sans-serif;

}

header {
    padding: 1vw 10vw;
}

#logoSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLeftContainer {
    display: flex;
    align-items: center;
}

#logoWord {
 padding: 0vw 1vw;
}

#headerRightContainer {
    display: flex;
}

#delicious {
    font-family: 'Yellowtail', cursive;
    font-size: 32px;
    font-weight: 500;
}

#logoTagLine {
    font-size: 12px;
}

.deviderBar {
    margin: 2vw 0vw;
    height: 1vw;
    width: 80vw;
    background-image: url("img/hr-img.png");
    background-repeat: repeat-x;
}

#contactButtons {
    padding-left: 10px;
}